<ul class="socials">
	{% for url in site.data.settings.social_settings %}
	{% if url[1] != '' %}
	{% assign social_key = url[0] | remove: '_url' %}
	<li class="socials__item">
		<a href="{{ url[1] }}" target="_blank" class="socials__item__link" title="{{ social_key | replace: '-', ' ' | capitalize }}">
			{% if social_key == 'linktree' %}
			<i class="fas fa-link" aria-hidden="true"></i>
			{% else %}
			<i class="fab fa-{{ social_key | replace: 'facebook', 'facebook-f' }}" aria-hidden="true"></i>
			{% endif %}
		</a>
	</li>
	{% endif %}
	{% endfor %}
</ul>